<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<h1 class="mt-4">Panel Administratora</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"></li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div style="font-weight: bold; font-size: 30px" class="card-body text-center">
                <span th:text="${countInstitutions}"></span>
            </div>
            <div class="card-footer text-center">
                <span style="font-size: 15px">WSPIERANYCH FUNDACJI</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div style="font-weight: bold; font-size: 30px" class="card-body text-center">
                <span th:text="${countDonations}"></span>
            </div>
            <div class="card-footer text-center">
                <span style="font-size: 15px">PRZEKAZANYCH DARÓW</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div style="font-weight: bold; font-size: 30px" class="card-body text-center">
                <span th:text="${countBags}"></span>
            </div>
            <div class="card-footer text-center">
                <span style="font-size: 15px">ODDANYCH WORKÓW</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div style="font-weight: bold; font-size: 30px" class="card-body text-center">
                <span th:text="${countUsers}"></span>
            </div>
            <div class="card-footer text-center">
                <span style="font-size: 15px">ZAREJESTROWANYCH UŻYTKOWNIKÓW</span>
            </div>
        </div>
    </div>
</div>
