<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Panel Administratora</title>
    <link th:href="@{/css/admin-style.css}" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<div th:include="admin-main/admin-header.html"></div>

<div id="layoutSidenav">

    <div th:include="admin-main/admin-sidenav.html"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div th:include="admin-main/admin-sub-header.html"></div>
                <div class="card mb-4">
                    <div class="card-header align-middle"><i class="fas fa-table mr-1"></i>Lista użytkowników</div>
                    <div class="card-body">
                        <a th:href="@{/admin/add-user}" type="button" class="btn btn-primary add-element">Dodaj
                            użytkownika</a>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Nazwa użytkownika</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Email</th>
                                    <th>Blokada konta</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.blocked ? 'tak' : 'nie'}"></td>
                                    <td style="text-align: center"><a
                                            th:href="@{'/admin/edit-user/' + ${user.id}}">
                                        <i class="fas fa-edit"></i></a></td>
                                    <td style="text-align: center"><a href="#" data-toggle="modal"
                                                                      th:data-target="'#deleteModal'+${user.id}">
                                        <i class="fas fa-trash-alt" style="color: red"></i></a></td>

                                    <div class="modal fade" th:id="deleteModal+${user.id}">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 th:text="'Czy na pewno chcesz usunąc Użytkownika: ' + ${user.username} + ' ?'"
                                                        class="col-12 modal-title text-center"></h5>
                                                </div>
                                                <div class="modal-footer ">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                        Nie
                                                    </button>
                                                    <a th:href="@{'/admin/delete-user/' + ${user.id}}"
                                                       type="button" class="btn btn-secondary"
                                                       style="background-color: red">Tak, usuń</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div th:include="admin-main/admin-footer.html"></div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script>
    /*!
    * Start Bootstrap - SB Admin v6.0.0 (https://startbootstrap.com/templates/sb-admin)
    * Copyright 2013-2020 Start Bootstrap
    * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
    */
    (function ($) {
        "use strict";

        // Add active state to sidbar nav links
        var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
        $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function () {
            if (this.href === path) {
                $(this).addClass("active");
            }
        });

        // Toggle the side navigation
        $("#sidebarToggle").on("click", function (e) {
            e.preventDefault();
            $("body").toggleClass("sb-sidenav-toggled");
        });


    })(jQuery);
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>
