<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<header class="header--form-page">
    <nav class="container container--70">
        <ul class="nav--actions">
            <li class="logged-user">
                <span>Witaj </span><span sec:authentication="principal.user.firstName"></span>
                <ul class="dropdown">
                    <li><a th:href="@{/edit-account}">Profil</a></li>
                    <li><a href="#">Moje zbiórki</a></li>
                    <li><a href="javascript: document.logoutForm.submit()">Wyloguj</a></li>
                </ul>
            </li>
        </ul>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>

        <ul>
            <li><a th:href="@{/home}" class="btn btn--without-border active">Start</a></li>
            <li><a id="steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a id="form" class="btn btn--without-border">Formularz</a></li>
            <li><a id="contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>

    <section class="login-page">
        <h2>Zmiana hasła</h2>
        <form th:action="@{/change-password-action}" method="post" th:object="${user}">

            <input type="hidden" th:field="*{id}" th:value="${user.id}">
            <input type="hidden" th:field="*{firstName}" th:value="${user.firstName}">
            <input type="hidden" th:field="*{lastName}" th:value="${user.lastName}">
            <input type="hidden" th:field="*{username}" th:value="${user.username}">
            <input type="hidden" th:field="*{email}" th:value="${user.email}">


            <div class="form-group">
                <input type="password" name="oldPassword" placeholder="Stare hasło"/>
                <span class="error-message" th:if="${wrongOldPass}">Nieprawidłowe hasło</span>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Nowe hasło" th:field="*{password}"/>
                <span class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div class="form-group">
                <input type="password" name="password2" placeholder="Powtórz hasło"/>
                <span class="error-message" th:if="${passNoMatch}">Nieprawidłowe powtórzenie hasła</span>
            </div>
            <div class="form-group form-group--buttons">
                <a th:href="@{/edit-account}" class="btn btn--without-border">Powrót</a>
                <button class="btn" type="submit">Zapisz</button>
            </div>
        </form>
    </section>
</header>

<div th:include="footer.html"></div>
</body>
</html>
