<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
    <title>Form</title>
</head>
<body>
<header class="header--form-page">
    <nav class="container container--70">
        <ul class="nav--actions">
            <li class="logged-user">
                <span>Witaj </span><span sec:authentication="principal.user.firstName"></span>
                <ul class="dropdown">
                    <li><a th:href="@{/edit-account}">Profil</a></li>
                    <li><a href="#">Moje zbiórki</a></li>
                    <li><a href="javascript: document.logoutForm.submit()">Wyloguj</a></li>
                </ul>
            </li>
        </ul>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>

        <ul>
            <li><a th:href="@{'/home'}" class="btn btn--without-border active">Start</a></li>
            <li><a id="steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a id="form" class="btn btn--without-border">Formularz</a></li>
            <li><a id="contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>

    <h1 th:if="${formSuccess!=null}" align="center" style="margin-top: 60px; color: green">Twoje zgłoszenie zostało wysłane.
        Dziękujemy!</h1>
    <h1 th:if="${passwordChanged!=null}" align="center" style="margin-top: 60px; color: green">Hasło zostało zmienione.</h1>
    <h1 th:if="${accountUpdated!=null}" align="center" style="margin-top: 60px; color: green">Konto zostało zaaktualizowane.
    Zaloguj się ponownie, aby zobaczyć zmiany.</h1>


    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Oddaj rzeczy, których już nie chcesz<br/>
                <span class="uppercase">potrzebującym</span>
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                <ul class="slogan--steps-boxes">
                    <li>
                        <div><em>1</em><span>Wybierz rzeczy</span></div>
                    </li>
                    <li>
                        <div><em>2</em><span>Spakuj je w worki</span></div>
                    </li>
                    <li>
                        <div><em>3</em><span>Wybierz fundację</span></div>
                    </li>
                    <li>
                        <div><em>4</em><span>Zamów kuriera</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3>Ważne!</h3>
            <p data-step="1" class="active">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3">
                Wybierz jedną, do
                której trafi Twoja przesyłka.
            </p>
            <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div class="form--steps-container">

        <div class="form--steps-counter">Krok <span>1</span>/4</div>

        <form th:action="@{'/donate-execute'}" method="post" th:object="${donation}">
            <!-- STEP 1: class .active is switching steps -->

            <div data-step="1" class="active">
                <h3 id="error-msg-place">Zaznacz co chcesz oddać:</h3>
                <p class="error-message" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></p>

                <div style="font-size: 25px" class="form-group form-group--checkbox" th:each="category: ${categories}">
                    <label>
                        <input name="categories"
                               type="checkbox"
                               th:value="${category.id}"
                               th:field="*{categories}"
                        />
                        <span class="checkbox"></span>
                        <span name="category" hidden="hidden" th:text="${category.name}"></span>
                        <span th:text="${category.name}" class="description"></span>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn next-step" id="choose-cat-btn">Dalej</button>
                </div>
            </div>

            <!-- STEP 2 -->
            <div data-step="2">
                <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>
                <div class="form-group form-group--inline">
                    <label>
                        Liczba 60l worków:
                        <input type="number" id="bags" step="1" min="1" th:field="*{quantity}"/>
                    </label>
                    <span style="margin-left: 10px" class="error-message" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                </div>

                <div class="form-group form-group--buttons">
                    <button id="back-to-cat" type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 3 -->
            <div data-step="3">
                <h3>Wybierz organizacje, której chcesz pomóc:</h3>
                <p class="error-message" th:if="${#fields.hasErrors('institution')}" th:errors="*{institution}"></p>
                <div class="form-group form-group--checkbox" th:each="institution : ${institutions}">
                    <label>
                        <input name="institution" th:type="radio" th:value="${institution.id}"
                               th:field="*{institution}"/>
                        <span class="checkbox radio"></span>
                        <span id="institution-name" hidden="hidden" th:text="${institution.name}"></span>
                        <span class="description">
                  <div class="title" th:text="'Fundacja ' + ${institution.name}"></div>
                  <div class="subtitle" th:text="${institution.description}"></div>
                </span>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button id="choose-inst-btn" type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 4 -->
            <div data-step="4">
                <h3>Podaj adres oraz termin odbioru rzeczy przez kuriera:</h3>

                <div class="form-section form-section--columns">
                    <div class="form-section--column">
                        <h4>Adres odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label> Ulica <input id="street" type="text" th:field="*{street}"/> </label>
                            <span class="error-message" th:if="${#fields.hasErrors('street')}"
                                  th:errors="*{street}"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> Miasto <input id="city" type="text" th:field="*{city}"/> </label>
                            <span class="error-message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Kod pocztowy <input id="zip-code" type="text" th:field="*{zipCode}" placeholder="xx-xxx"/>
                            </label>
                            <span class="error-message" th:if="${#fields.hasErrors('zipCode')}"
                                  th:errors="*{zipCode}"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Numer telefonu <input id="phone" type="text" th:field="*{phoneNumber}"/>
                            </label>
                            <span class="error-message" th:if="${#fields.hasErrors('phoneNumber')}"
                                  th:errors="*{phoneNumber}"></span>
                        </div>
                    </div>

                    <div class="form-section--column">
                        <h4>Termin odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label> Data <input id="date" type="date" max="9999-12-12" th:field="*{pickUpDate}"/>
                            </label>
                            <span class="error-message" th:if="${#fields.hasErrors('pickUpDate')}"
                                  th:errors="*{pickUpDate}"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> Godzina <input id="time" type="time" th:field="*{pickUpTime}"/> </label>
                            <span class="error-message" th:if="${#fields.hasErrors('pickUpTime')}"
                                  th:errors="*{pickUpTime}"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Uwagi dla kuriera
                                <textarea rows="5" id="comment" th:field="*{pickUpComment}"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step" id="go-to-summary">Dalej</button>
                </div>
            </div>

            <!-- STEP 5 -->
            <div data-step="5">
                <h3>Podsumowanie Twojej darowizny</h3>

                <div class="summary">
                    <div class="form-section">
                        <h4>Oddajesz:</h4>
                        <ul>
                            <li>
                                <span class="icon icon-bag"></span>
                                <span class="summary--text"
                                ><span id="display-bags"></span><span id="display-cat"></span></span>
                            </li>

                            <li>
                                <span class="icon icon-hand"></span>
                                <span class="summary--text"
                                ><span id="display-institution-name"></span></span>
                            </li>
                        </ul>
                    </div>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru:</h4>
                            <ul>
                                <li><span id="display-street"></span></li>
                                <li><span id="display-city"></span></li>
                                <li><span id="display-zip-code"></span></li>
                                <li><span id="display-phone"></span></li>
                            </ul>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru:</h4>
                            <ul>
                                <li><span id="display-date"></span></li>
                                <li><span id="display-time"></span></li>
                                <li><span id="display-comment"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="submit" class="btn">Potwierdzam</button>
                </div>
            </div>
        </form>
    </div>
</section>

<footer>
    <div class="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact">
            <div class="form-group form-group--50">
                <input type="text" name="name" placeholder="Imię"/>
            </div>
            <div class="form-group form-group--50">
                <input type="text" name="surname" placeholder="Nazwisko"/>
            </div>

            <div class="form-group">
            <textarea
                    name="message"
                    placeholder="Wiadomość"
                    rows="1"
            ></textarea>
            </div>

            <button class="btn" type="submit" disabled>Wyślij</button>
        </form>
    </div>
    <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"
            ><img src="images/icon-facebook.svg"
            /></a>
            <a href="#" class="btn btn--small"
            ><img src="images/icon-instagram.svg"
            /></a>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(function () {

        $('#steps').click(function () {
            $('html, body').animate({
                scrollTop: $('.slogan--item').offset().top
            }, 800, function () {
            });
        })

        $('#contact').click(function () {
            $('html, body').animate({
                scrollTop: $('.contact').offset().top
            }, 800, function () {
            });
        })

        $('#form').click(function () {
            $('html, body').animate({
                scrollTop: $('.form--steps').offset().top
            }, 800, function () {
            });
        })

        if (window.location.href.indexOf("#steps") > -1) {
            $('html, body').animate({
                scrollTop: $('.slogan--item').offset().top
            }, 800, function () {
            });
        }

        if (window.location.href.indexOf("#form") > -1) {
            $('html, body').animate({
                scrollTop: $('.form--steps').offset().top
            }, 800, function () {
            });
        }

        if (window.location.href.indexOf("#contact") > -1) {
            $('html, body').animate({
                scrollTop: $('.contact').offset().top
            }, 800, function () {
            });
        }

        if ($('.error-message').length) {
            $('html, body').animate({
                scrollTop: $('.form--steps-container').offset().top
            }, 800, function () {
            });

            $('<p style="color: red; font-size: 30px; display: flow; margin-bottom: 30px; alignment: center">Popraw pola oznaczone na czerwono.</p>').insertBefore('#error-msg-place');
        }

        let categories = [];

        $('#choose-cat-btn').click(function () {
            $.each($("input[name='categories']:checked"), function () {
                categories.push($(this).next().next().text());
            });
        })

        $('#back-to-cat').click(function () {
            categories = [];
        })

        $('#choose-inst-btn').click(function () {
            let instName = $("input[name='institution']:checked").next().next().text();
            $('#display-institution-name').text('Dla Fundacji: ' + instName);
        })

        $('#go-to-summary').click(function () {
            $('#display-street').text($('#street').val());
            $('#display-city').text($('#city').val());
            $('#display-zip-code').text($('#zip-code').val());
            $('#display-phone').text($('#phone').val());
            $('#display-date').text($('#date').val());
            $('#display-time').text($('#time').val());

            let comment = ($('#comment').val());
            if (comment.length == 0) {
                $('#display-comment').text('brak uwag')
            } else {
                $('#display-comment').text(comment)
            }

            $('#display-cat').text(categories.join(", "));

            if ($('#bags').val() == 1) {
                $('#display-bags').text($('#bags').val() + ' worek zawierający: ');
            } else if ($('#bags').val() > 1 && $('#bags').val() < 5) {
                $('#display-bags').text($('#bags').val() + ' worki zawierające: ');
            } else {
                $('#display-bags').text($('#bags').val() + ' worków zawierających: ');
            }
        })
    });
</script>
<script src="js/app.js"></script>
</body>
</html>
