<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<header>
    <nav class="container container--70">
        <ul class="nav--actions">
            <li><a th:href="@{/login}">Zaloguj</a></li>
            <li class="highlighted"><a th:href="@{/register}">Załóż konto</a></li>
        </ul>

        <ul>
            <li><a th:href="@{/}" class="btn btn--without-border active">Start</a></li>
            <li><a th:href="@{/#steps}" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a th:href="@{/#about-us}" class="btn btn--without-border">O nas</a></li>
            <li><a th:href="@{/#help}" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a th:href="@{/#contact}" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>
</header>

<section class="login-page">
    <h2>Załóż konto</h2>
    <form th:action="@{/register-action}" method="post" th:object="${user}">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email"/>
            <span class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Hasło"/>
            <span class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="form-group">
            <input type="password" name="password2" placeholder="Powtórz hasło"/>
        </div>

        <div class="form-group form-group--buttons">
            <a th:href="@{/login}" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>

<div th:include="footer.html"></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>
